#header.design{
    background-color: #fff;
    z-index: 998;
    width: 300px;
    position: fixed;
    height: 100%;
    left:0;
    padding-top:50px;
    top:0;
    .center{
        margin: 0 30px;
        .logo{
            .logoimg{
                width: 200px;
            }
        }
        .gnb{
            margin-top: 50px;
            li{
                margin: 10px 0;
                a{
                    color:#292929;
                    font-size: 10pt;
                    transition: all 0.5s;
                    &:hover{
                        color:rgba(65, 65, 65, 0.8);
                    }
                }
            }
        }
    }
}
