    <div id="footer" class="<%- sub %>">
        <div class="center">
            <ul class="fot_gnb">
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/about">CONTACT</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
            </ul>
            <p>
                서울시 강남구 청담동 55-16번지 3층 복나비한복 (도산대로 100길 27)<br/>
                F3, 27 Dosan-daero 100-gil, Gangnam-gu, Seoul, Republic of Korea (06071)
            </p>
        </div>
    </div>