<link rel="stylesheet" href="/css/m_header.css">
    <div id="m_header">
        <div class="center">
            <div class="closeBtn">
                <a href="#">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="logo">
                <h1><a href="/"><img class="logoimg" src="/img/logo1.png"></a></h1>
            </div>
            <ul class="gnb">
                <li><a href="/design">Design line</a></li>
                <li><a href="/collection">Collection line</a></li>
                <li><a href="/parents">Parents line</a></li>
                <li><a href="/tradition">Tradition line</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/brdlist" style="font-family: 'Noto Sans KR', sans-serif">방문예약</a></li>
            </ul>
        </div>
    </div>