#container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fcfbfb;
  height: 70%;
  padding-bottom: 150px;
}
#container .center {
  margin-top: 100px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1300px;
  position: relative;
}
#container .center h2 {
  text-align: center;
  width: 100%;
  font-size: 15pt;
  margin-bottom: 30px;
}
#container .center p {
  width: 100%;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  position: relative;
  font-size: 10pt;
}
#container .center p::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c2c2c2;
  width: 50%;
  height: 1px;
}
#container .center .brd_btns {
  display: flex;
  justify-content: flex-end;
  width: 845px;
  margin-bottom: 10px;
}
#container .center .brd_btns a {
  display: block;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid rgb(189, 189, 189);
  font-size: 10pt;
  border-radius: 5px;
  color: #666666;
  background-color: #fff;
}
#container .center .brd_btns a:hover {
  background-color: #006eff;
  transition: all 0.5s;
  color: #fff;
  border: 1px solid #fff;
}
#container .center .brds .tb1 {
  border: #bdbdbd solid 1px;
  font-size: 10pt;
  width: 840px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgb(233, 233, 233);
}
#container .center .brds .tb1 td {
  padding: 20px 0;
}
#container .center .brds .tb1 .tbTop {
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 2px solid #bdbdbd;
  border-bottom: 1px solid #dbdbdb;
}
#container .center .brds .tb1 .tbTop .none {
  width: 70px;
}
#container .center .brds .tb1 .tbTop .title {
  width: 600px;
}
#container .center .brds .tb1 .tbTop .user {
  width: 100px;
}
#container .center .brds .tb1 .brd_list {
  height: 30px;
  border-bottom: 1px solid #dbdbdb;
}
#container .center .brds .tb1 .brd_list .brd_number, #container .center .brds .tb1 .brd_list .brd_name {
  text-align: center;
}
#container .center .brds .tb1 .brd_list .brd_title {
  padding-left: 40px;
}
#container .center .brds .tb1 .brd_list .brd_title a {
  transition: all 0.2s;
  color: #4d4d4d;
}
#container .center .brds .tb1 .brd_list .brd_title:hover a {
  color: #000;
  font-weight: 600;
}
#container .center .brds .tb1 .brd_list .brd_update {
  width: 50px;
  text-align: center;
}
#container .center .brds .tb1 .brd_list .brd_update a {
  transition: all 0.2s;
  color: #006eff;
}
#container .center .brds .tb1 .brd_list .brd_update:hover a {
  color: #006eff;
  font-weight: 600;
}

#footer {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  #container {
    margin-top: 130px;
  }
  #container .center h2 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
  }
  #container .center p {
    font-size: 13px;
  }
  #container .center .brd_btns {
    width: 80%;
  }
  #container .center .brds {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #container .center .brds .tb1 {
    width: 80%;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  #container {
    margin-top: 130px;
  }
  #container .center h2 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
  }
  #container .center p {
    font-size: 13px;
  }
  #container .center .brd_btns {
    width: 80%;
  }
  #container .center .brds {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #container .center .brds .tb1 {
    width: 80%;
    display: flex;
  }
}