#container .center {
  margin-top: 100px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#container .center h2 {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 15pt;
}
#container .center .board_box {
  border: 1px solid rgb(180, 180, 180);
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 560px;
  padding: 20px;
}
#container .center .board_box span {
  font-size: 10pt;
  margin-right: 15px;
}
#container .center .board_box p {
  font-size: 10pt;
  margin-bottom: 15px;
}
#container .center .board_box input {
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(250, 250, 250);
  position: relative;
}
#container .center .board_box .title {
  width: 400px;
  height: 30px;
  margin-bottom: 20px;
}
#container .center .board_box .title::-moz-placeholder {
  padding-left: 10px;
}
#container .center .board_box .title::placeholder {
  padding-left: 10px;
}
#container .center .board_box .name {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}
#container .center .board_box .name::-moz-placeholder {
  padding-left: 10px;
}
#container .center .board_box .name::placeholder {
  padding-left: 10px;
}
#container .center .board_box textarea {
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(250, 250, 250);
  width: 700px;
  height: 350px;
  margin-bottom: 20px;
}
#container .center .board_box textarea::-moz-placeholder {
  padding: 10px;
}
#container .center .board_box textarea::placeholder {
  padding: 10px;
}
#container .center .board_box .btns {
  display: flex;
  justify-content: center;
}
#container .center .board_box .btns button {
  border: none;
  width: 150px;
  position: relative;
  height: 40px;
  background-color: #f88c00;
  color: #fff !important;
  font-size: 15pt;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 10px;
}
#container .center .board_box .btns button a {
  color: #fff;
}
#container .center .board_box .btns button::before {
  display: block;
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("/img/btn_before.png") no-repeat;
}
#container .center .board_box .btns button::after {
  display: block;
  content: "";
  position: absolute;
  right: -1px;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: url("/img/btn_after.png") no-repeat;
}
#container .center .board_box .btns .close {
  width: 150px;
  position: relative;
  height: 40px;
  color: #fff !important;
  font-size: 15pt;
  font-weight: 500;
  line-height: 40px;
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 10px;
  text-align: center;
  background-color: #9c9c9c;
}
#container .center .board_box .btns .close a {
  color: #fff;
}
#container .center .board_box .btns .close::before {
  display: block;
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("/img/btn_before.png") no-repeat;
}
#container .center .board_box .btns .close::after {
  display: block;
  content: "";
  position: absolute;
  right: -1px;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: url("/img/btn_after.png") no-repeat;
}

@media screen and (max-width: 1024px) {
  #container {
    margin-top: 200px;
  }
  #container .center .board_box {
    border: 1px solid rgb(180, 180, 180);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
  }
  #container .center .board_box form {
    width: 100%;
  }
  #container .center .board_box form span {
    font-size: 13px;
  }
  #container .center .board_box form p {
    font-size: 10pt;
    margin-bottom: 15px;
  }
  #container .center .board_box form input {
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(250, 250, 250);
    position: relative;
  }
  #container .center .board_box form .title {
    width: 80%;
  }
  #container .center .board_box form .name {
    width: 40%;
  }
  #container .center .board_box form textarea {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #container {
    margin-top: 200px;
  }
  #container .center .board_box {
    border: 1px solid rgb(180, 180, 180);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
  }
  #container .center .board_box form {
    width: 100%;
  }
  #container .center .board_box form span {
    font-size: 13px;
  }
  #container .center .board_box form p {
    font-size: 10pt;
    margin-bottom: 15px;
  }
  #container .center .board_box form input {
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(250, 250, 250);
    position: relative;
  }
  #container .center .board_box form .title {
    width: 80%;
  }
  #container .center .board_box form .name {
    width: 40%;
  }
  #container .center .board_box form textarea {
    width: 100%;
  }
}