* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
}

img, video {
  vertical-align: top;
}