#container .center {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  flex-wrap: wrap;
}
#container .center > div {
  width: 1300px;
}
#container .center .bg {
  width: 100%;
  height: 700px;
  background: url("/img/top_slide6.png") no-repeat;
  background-size: cover;
}
#container .center .cont1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border-top: 1px solid rgb(224, 224, 224);
}
#container .center .cont1 .cont1_maintext {
  text-align: center;
}
#container .center .cont1 .cont1_maintext h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 20pt;
  padding: 50px 0;
  font-weight: 600;
}
#container .center .cont1 .cont1_maintext p {
  margin-bottom: 100px;
  font-size: 10pt;
  color: #666666;
}
#container .center .cont2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#container .center .cont2 .cont2_box {
  display: flex;
}
#container .center .cont2 .cont2_box .imgbox {
  margin: 5px;
}
#container .center .cont2 .cont2_box .imgbox img {
  width: 100%;
  height: 550px;
}
#container .center .cont2_big {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  display: none;
  justify-content: center;
  z-index: 95;
  align-items: center;
}
#container .center .cont2_big .open_img {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 700px;
}
#container .center .cont2_big .open_img img {
  width: 100%;
  height: 100%;
}
#container .center .cont2_big .close_btn {
  width: 30px;
  height: 30px;
  position: relative;
  top: -340px;
}
#container .center .cont2_big .close_btn a {
  right: 0px;
  position: absolute;
  font-size: 30px;
  color: #000;
  font-weight: normal;
}
#container .center .cont2_big.on {
  display: flex;
}